{% extends 'baseA.html.twig' %}

{% block title %}Add Events{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Add Event</h1>
                {{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(f.name, "Name") }}
                    {{ form_widget(f.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.name) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.type, "Type") }}
                    {{ form_widget(f.type, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.type) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.description, "Description") }}
                    {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.description) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.datedebut, "Date debut") }}
                    {{ form_widget(f.datedebut, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.datedebut) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.datefin, "Date fin") }}
                    {{ form_widget(f.datefin, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.datefin) }}
                </div>
                <div class="mb-3">
                    {{ form_label(f.image, "Event Image") }}
                    {{ form_widget(f.image, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.image) }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <a href="{{ path('app_Affiche') }}" class="btn btn-secondary">Back to list</a>

                {{ form_end(f) }}
            </div>
        </div>
    </div>
{% endblock %}
