{% extends 'base_back.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <div class="container mt-5">


        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Events</h1>
            <div class="d-flex">
                <form class="d-flex me-2" method="get" action="{{ path('app_Affiche') }}">
                    <input class="form-control" type="text" name="search" value="{{ searchQuery }}" placeholder="Search events" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                    <a href="{{ path('app_Add') }}" class="btn btn-success">Add Event</a>
            </div>
        </div>
        

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TYPE</th>
                    <th>DATE DEBUT</th>
                    <th>DATE FIN</th>
                    <th>Places Reserved</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for a in event %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.name }}</td>
                        <td>{{ a.type }}</td>
                        <td>{{ a.datedebut | date('M-d-Y') }}</td>
                        <td>{{ a.datefin | date('M-d-Y') }}</td>
                        <td><p> {{ a.nbPlacesR }} / {{ a.nbPlaces }} </p></td>
                        
                        <td>
                            <a href="{{ path('app_ShoweventA', {'id': a.id}) }}" class="btn btn-primary">Detail</a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% for page in 1..totalPages %}
                            <li class="page-item {% if page == currentPage %}active{% endif %}">
                                <a class="page-link" href="{{ path('app_Affiche', {'page': page}) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

