{% extends 'base_back.html.twig' %}

{% block title %}Edit Events{% endblock %}

{% block navigate %}

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item ">
              <a href="{{ path('app_homeback') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            
            <!-- Events -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Events</span></li>
            <!-- List Events -->
            <li class="menu-item active">
              <a href="{{ path('app_Affiche') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">List Events</div>
              </a>
            </li>
            <!-- Add Events -->
            <li class="menu-item ">
                <a href="{{ path('app_Add') }}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-plus-circle"></i>
                  <div data-i18n="Basic">Add Events</div>
                </a>
            </li>
        
          </ul>
        </aside>

        <!-- / Menu -->
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Edit Event</h1>
                {{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(f.name, "Name") }}
                    {{ form_widget(f.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.name) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.type, "Type") }}
                    {{ form_widget(f.type, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.type) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.description, "Description") }}
                    {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.description) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.address, "address") }}
                    {{ form_widget(f.address, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.address) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.datedebut, "Date debut") }}
                    {{ form_widget(f.datedebut, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.datedebut) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.datefin, "Date fin") }}
                    {{ form_widget(f.datefin, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.datefin) }}
                </div>

                <div class="mb-3">
                    {{ form_label(f.nbPlaces, "Nombre Places") }}
                    {{ form_widget(f.nbPlaces, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.nbPlaces) }}
                </div>

                <div class="mb-3">
                    <p>Event Image :</p>
                    {% if event.image %}
                        <img src="{{ asset('uploads/images/' ~ event.image) }}" alt="{{ event.name }}" class="img-fluid">
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {{ form_label(f.image, "New Image") }}
                    {{ form_widget(f.image, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(f.image) }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <a href="{{ path('app_Affiche') }}" class="btn btn-secondary">Back to list</a>

                {{ form_end(f) }}
            </div>
        </div>
    </div>
{% endblock %}
