<!DOCTYPE html>
<html>
<head>
    <title>Events PDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px; /* Adjust the maximum width of the image */
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Events</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>IMAGE</th>
                <th>NAME</th>
                <th>TYPE</th>
                <th>DATE DEBUT</th>
                <th>DATE FIN</th>
                <th>Places Reserved</th>
            </tr>
        </thead>
        <tbody>
            {% for a in event %}
                <tr>
                    <td>{{ a.id }}</td>
                    {% if a.image is defined %}
                        <!--<td><img src="{{ asset('uploads/images/' ~ a.image) }}" alt="{{ a.name }}" class="img-fluid"></td>-->
                    {% else %}
                        <td>No Image</td>
                    {% endif %}
                    <td>{{ a.name }}</td>
                    <td>{{ a.type }}</td>
                    <td>{{ a.datedebut | date('M-d-Y') }}</td>
                    <td>{{ a.datefin | date('M-d-Y') }}</td>
                    <td>{{ a.nbPlacesR }} / {{ a.nbPlaces }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
